---
BasedOnStyle: Chromium
ColumnLimit: 120
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PenaltyBreakFirstLessLess: 120
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
SortIncludes: false
TabWidth: 8
UseTab: Never
